<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>293207408908-2rfugbc2a5817ormgqqubmbo2ak1mfu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293207408908-2rfugbc2a5817ormgqqubmbo2ak1mfu6</string>
	<key>API_KEY</key>
	<string>AIzaSyBj-S4kyhAK2FvCekYbSa_FKsVu6vbI5Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>293207408908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nusmedicine.app</string>
	<key>PROJECT_ID</key>
	<string>nusmedicine-e0edc</string>
	<key>STORAGE_BUCKET</key>
	<string>nusmedicine-e0edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293207408908:ios:d34154bcf6694d62</string>
	<key>DATABASE_URL</key>
	<string>https://nusmedicine-e0edc.firebaseio.com</string>
</dict>
</plist>